/* NavBar */
.imagenNavBar{
    width: 10%;
    
}
/* Header */
.rounded {
    margin-top: 7rem ;
    width: 37.5rem;
}
/* Main */
/*Section buscar super Heroe*/
.formContainer{
    margin-bottom: 5rem;
}


.card{
    width: 18rem;
}
